<header class="header">
  <div class="header-wrapper">
    <div class="header-wrapper-content">
      <div class="header-wrapper-contentLogo">Logo</div>
      <div class="header-wrapper-contentInteractive">
        <div class="header-wrapper-address">
          <p>Envío a:</p>
          <span>Av. 14, 5156, Berazategu... -</span>
          <img src="./../../../../assets/svg/edit_square.svg" alt="svg" />
          <span>CAMBIAR</span>
        </div>
        <div class="header-wrapper-interaction"></div>
      </div>
    </div>
    <app-navbar class="header-wrapper-navbar"></app-navbar>
  </div>
</header>