// ------------------ colors ------------------
$color-primary: #1FA02E;
$color-secondary: #A4C735;
$gray-titles: #595959;
$color-gray-footer: #333333;
$light-gray: #cbcbcb
// ------------------ Type of buttons ------------------
