<div class="upperBar">
  <div class="upperBar-item">
    <img src="./../../../../assets/svg/local_shipping.svg" alt="svg" />
    <p>¡Servicio Express!</p>
  </div>
  <div class="upperBar-item">
    <app-circle-with-number number="1"></app-circle-with-number>
    <p>Comprá</p>
  </div>
  <div class="upperBar-item">
    <app-circle-with-number number="2"></app-circle-with-number>
    <p>
      Retirá o recibí tu pedido en menos de 24 hs!
      <span>(*Sujeto a disponibilidad)</span>
    </p>
  </div>
</div>