@use '../util' as u;

body {
    margin: 0;
    padding: 0;
    font-family: u.$font-family;
    font-weight: u.$font-weight;
    font-style: u.$font-style;
    background-color: var(--background-color);
    color: var(--text-color);
}